* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar li {
  margin-left: 1.5em;
  color: #fff;
}

.btn {
  /* font-size: 3em; */
  background-color: gray;
  padding: 0.6em 1.8em;
  border-radius: 25px;
}

body {
  height: 100vh;
  background-image: url("../img/bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  margin: 2em 7vw;
}

.logo {
  color: #fff;
  font-size: 1.8em;
  font-weight: 500;
}

.h1 {
  font-size: 5em;
  color: #fff;
  font-weight: 500;
}

#content {
  margin-top: 15vh;
  margin: 7vw;
}

.btn-flex {
  display: flex;
  margin-top: 15vh;
}

.btnn {
  background-color: rgb(96, 96, 136);
  padding: 0.7em 2em;
  width: 20vw;
  /* border-radius: 25px; */
  /* display: flex; */
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  /* justify-content: space-around; */
  justify-content: space-evenly;
}

img {
  height: 1.5em;
}

.search {
  display: flex;
  align-items: center;
}

.search-text {
  font-size: 1.7em;
  color: #fff;
  margin-left: 1.3vw;
}

.job-title input {
  width: 35vw;
  padding: 2em;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: none;
  /* outline: none; */
  /* font-family: inherit; */
  background-color: #fff;
  /* padding-left: 25px; */
  /* opacity: 0.6; */
}

.job-title ::placeholder {
  color: rgb(211, 207, 207);
  font-size: 1.5em;
}

/* CONTACT */

#container1 {
  margin: 2em 7vw;
}

.form-wrap {
  background-color: rgb(170, 170, 240);
  padding: 3em 2em;
  border-radius: 40px;
  width: 30vw;
}

.form-wrap input {
  width: 25vw;
  padding: 1.6em;
  border-radius: 25px;
  margin-bottom: 2em;
  border: none;
  padding-left: 25px;
}

.form-wrap textarea {
  width: 25vw;
  border-radius: 25px;
  padding-left: 25px;
  padding-top: 20px;
}

.form-wrap ::placeholder {
  color: rgb(71, 70, 70);
  font-weight: inherit;
}

.btnnn {
  background-color: rgb(96, 96, 136);
  color: #fff;
  padding: 1em 2.5em;
  /* width: 20vw; */
  border: none;
  border-radius: 25px;
}

.botton {
  text-align: center;
  margin-top: 2em;
}

@media (max-width: 760px) {
}
